name: Build Release

on:
  workflow_dispatch: # 添加手动触发
  push:
    # tags:
    #   - 'v*' # 仅在推送标签时触发
    branches:
      - dev  # 仅在推送到 dev 分支时触发

jobs:
  build:
    name: Build release Executable (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - os: macos-latest
            target: x86_64-apple-darwin
          - os: macos-latest
            target: aarch64-apple-darwin

    env:
      BINARY_EXTENSION: ${{ endsWith(matrix.target, '-msvc') && '.exe' || '' }}
      PATH_BINARY: ${{ github.workspace }}/target/${{ matrix.target }}/release/rtun${{ matrix.EXTENSION }}${{ endsWith(matrix.target, '-msvc') && '.exe' || '' }}
      OPENSSL_STATIC: 1

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install cross
        uses: taiki-e/install-action@cross

      - name: Show tool versions
        shell: bash
        run: |
          rustc --version
          cargo --version
          cross --version

      - name: Build binary
        shell: bash
        run: |
          cross build --release --bin rtun --locked --target=${{ matrix.target }}

      - name: copy output
        run: |
          echo bin=${{ env.PATH_BINARY }}
          cp ${{ env.PATH_BINARY }} ./rtun-${{ matrix.target }}${{ env.BINARY_EXTENSION }}

      - name: Upload output
        uses: actions/upload-artifact@v4
        with:
          name: rtun-artifact-${{ matrix.target }}
          path: ./rtun-${{ matrix.target }}${{ env.BINARY_EXTENSION }}

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./all-builds
          merge-multiple: true
          # pattern: rtun-*
          

      - name: Update Nightly Release
        uses: andelf/nightly-release@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: nightly
            name: 'Nightly Release $$'
            prerelease: true
            body: 'This nightly release.'
            files: |
                ./all-builds/*
