name: Build Nightly

on:
  workflow_dispatch: # 添加手动触发
  push:
    tags:
      - 'v*' # 仅在推送标签时触发
    branches:
      - main  # 仅在推送到 main 分支时触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 检出代码
      - name: Checkout Code
        uses: actions/checkout@v3

      # 设置 Docker 缓存
      - name: Cache Docker Layers
        uses: actions/cache@v3
        with:
          path: /tmp/docker-cache
          key: ${{ runner.os }}-docker-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docker-

      # 使用 clux/muslrust 编译
      - name: Build with clux/muslrust
        run: |
          docker run --rm \
            -v "$(pwd)":/volume \
            -w /volume \
            "clux/muslrust:1.83.0-stable" cargo build --release

      # 打包编译结果
      - name: Prepare Artifact
        run: |
          mkdir -p artifacts
          cp target/x86_64-unknown-linux-musl/release/rtun artifacts/rtun-linux-musl-x86_64
          tar -czvf rtun-release.tar.gz -C artifacts .


      - name: Update Nightly Release
        uses: andelf/nightly-release@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: nightly
            name: 'Nightly Release $$'
            prerelease: true
            body: 'This nightly release.'
            files: |
                artifacts/rtun-linux-musl-x86_64
                rtun-release.tar.gz


