name: Build Release

on:
  workflow_dispatch: # 添加手动触发
  push:
    # tags:
    #   - 'v*' # 仅在推送标签时触发
    branches:
      - dev  # 仅在推送到 dev 分支时触发

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 检出代码
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Prepare Artifact
        run: |
          echo "hello" > ./artifacts.txt
          cat ./artifacts.txt

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
            repository: simon-fu/tts-release
            # note you'll typically need to create a personal access token
            # with permissions to create releases in the other repo
            # token: ${{ secrets.GITHUB_TOKEN }}
            token: ${{ secrets.TTS_REL_TOKEN }}
            files: |
                ./artifacts.txt
            tag_name: test


    #   # 检查 Release 是否存在
    #   - name: Check if Release exists
    #     id: check_release
    #     run: |
    #       if gh release view ${{ github.ref_name }}; then
    #         echo "release_exists=true" >> $GITHUB_ENV
    #       else
    #         echo "release_exists=false" >> $GITHUB_ENV
    #       fi

    #   # 创建 Release（如果不存在）
    #   - name: Create Release
    #     if: env.release_exists == 'false'
    #     id: create_release
    #     uses: actions/create-release@v1
    #     env:
    #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     with:
    #       tag_name: ${{ github.ref_name }}
    #       release_name: ${{ github.ref_name }}
    #       body: "Auto-generated release"
    #       draft: false
    #       prerelease: false
    #     #   token: ${{ secrets.GITHUB_TOKEN }}

    #   # 上传编译的可执行文件到 Release
    #   - name: Upload Release Assets
    #     uses: actions/upload-release-asset@v1
    #     env:
    #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     with:
    #       upload_url: ${{ steps.create_release.outputs.upload_url }}
    #       asset_path: ./artifacts.tar.gz
    #       asset_name: release-artifacts.tar.gz
    #       asset_content_type: application/gzip
