name: Schedule build-rtun1-1

on:
  schedule:
    - cron:  '0 1,3,5,7,9,11,13,15,17,19,21,23 * * *'
  workflow_dispatch:

env:
  AGENT_NAME_BASE: rtun1-1

jobs:
  build-rtun1-1:

    runs-on: ubuntu-latest
    # container: simonfucn/ubuntu-rtun:latest

    steps:
    - name: Configure AGENT_NAME
      shell: bash
      run: |
        if [ "${{ github.event_name }}" == "schedule" ]; then
          echo "AGENT_NAME=$AGENT_NAME_BASE" >> $GITHUB_ENV
          echo "Determined Type: Scheduled Task"
          
        elif [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
          echo "AGENT_NAME=$AGENT_NAME_BASE-manual" >> $GITHUB_ENV
          echo "Determined Type: Manual Trigger"
          
        else
          # 生成 3 位随机小写字母/数字
          RAND_STR=$(head /dev/urandom | tr -dc a-z0-9 | head -c 3)
          echo "AGENT_NAME=$AGENT_NAME_BASE-$RAND_STR" >> $GITHUB_ENV
          echo "Determined Type: Other (Push/etc)"
        fi

    - name: Download 
      run: |
        mkdir run-rtun
        cd run-rtun
        wget -q https://github.com/simon-fu/rtun/releases/download/rtun_latest/rtun-x86_64-unknown-linux-musl
        chmod +x ./rtun-x86_64-unknown-linux-musl

    - name: run-agent
      run: |
        cd run-rtun
        
        echo RUST_LOG=$RUST_LOG
        echo AGENT_NAME=$AGENT_NAME

        ./rtun-x86_64-unknown-linux-musl agent pub "${{ secrets.MY_RTUN1_URL }}" --agent $AGENT_NAME --expire_in 110 --secret ${{ secrets.MY_RTUN1_SECRET }} --quic-insecure


